@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


:root { 
    --color-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-dark-blue: hsl(214, 17%, 51%);
    --color-gray-blue: hsl(212, 23%, 69%);

    --color-neutral-blue: hsla(210, 46%, 95%, 1);
    --color-neutral-text-grey: hsl(0, 0%, 95%);

    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  html, body {
   background: var(--color-neutral-background);
  }
  
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture, 
  ion-icon,
  svg {
    max-width: 100%;
    display: block;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  
  
  
  
  
  /*----- Mobile first -----*/
 
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    background-color: var(--color-neutral-background);
    }

  .article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
   
}



h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    padding: 3rem 0;
    color: var(--color-dark-blue);
    
  }
  
  p {
    font-weight: 500;
    color: var(--color-gray-blue);
    font-size: 1.3rem;
    line-height: 1.7rem;
    
  }
  
  /*----- Tablet sizing -----*/
  @media (min-width: 785px) {

    .container {
      flex-direction: row;
      width: 80%;
    }

  
    h1 {

    }
  
  }
  /*----- Desktop styling -----*/

@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    width: 60%;
    height: 60vh;
  }



  p {

  }
}


 /*-- Utility classes --*/
  





